<mat-toolbar>
  <img slot="start" src='assets/images/considera-icon-dark.png' alt=""/>
  <span>considera.dev</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" style="margin-right: -10px;">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<div class="page">
  <app-header></app-header>
  <app-projects></app-projects>
  <app-roadmap></app-roadmap>
  <app-footer></app-footer>
  <div class="bottom">

  </div>
</div>

<router-outlet />
